body {
  background-image: linear-gradient(
    to right top,
    #3d6db5,
    #0080b5,
    #008b91,
    #00905a,
    #6d8c26
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}
